{% extends 'ManagerUI/verification_requirments/VerificationHome.html' %}
{% load staticfiles %}
{% load static %}

{% block library %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block title %}Verification_requirments{% endblock %}

{% block vertical %}
        <a class="active">Verification</a>
        {% for facility in listfaci %}
            <a href="{% url 'VerificationHome' facility.facilityid %}" class="{% if facility.facilityname == faci.facilityname %}activeLink{% endif %}"><i class="fa fa-list">&emsp;{{ facility.facilityname }}</i></a>
        {% endfor %}
{% endblock %}